<div id="content" #content>
    <div id="print-monthly-attendance">
        <table cellspacing="0">
            <!-- <colgroup width="24"></colgroup>
            <colgroup width="175"></colgroup>
            <colgroup span="35" width="33"></colgroup>
            <colgroup width="35"></colgroup> -->
            <tbody>
                <tr class="trheader1">
                    <td class="tdheader1" colspan=38>Senior High School Monthly Attendance Report</td>
                </tr>
                <tr class="trheader2">
                    <td class="tdheader2" colspan=38>June/2019</td>
                </tr>
                <tr class="weekdays">
                    <td height="10"></td>
                    <td class="WborderRightOnly"></td>
                    <td class="Wborder"><span class="verticalText">Sat</span></td>
                    <td class="Wborder"><span class="verticalText">Sun</span></td>
                    <td class="Wborder"><span class="verticalText">Mon</span></td>
                    <td class="Wborder"><span class="verticalText">Tue</span></td>
                    <td class="Wborder"><span class="verticalText">Wed</span></td>
                    <td class="Wborder"><span class="verticalText">Thu</span></td>
                    <td class="Wborder"><span class="verticalText">Fri</span></td>
                    <td class="Wborder"><span class="verticalText">Sat</span></td>
                    <td class="Wborder"><span class="verticalText">Sun</span></td>
                    <td class="Wborder"><span class="verticalText">Mon</span></td>
                    <td class="Wborder"><span class="verticalText">Tue</span></td>
                    <td class="Wborder"><span class="verticalText">Wed</span></td>
                    <td class="Wborder"><span class="verticalText">Thu</span></td>
                    <td class="Wborder"><span class="verticalText">Fri</span></td>
                    <td class="Wborder"><span class="verticalText">Sat</span></td>
                    <td class="Wborder"><span class="verticalText">Sun</span></td>
                    <td class="Wborder"><span class="verticalText">Mon</span></td>
                    <td class="Wborder"><span class="verticalText">Tue</span></td>
                    <td class="Wborder"><span class="verticalText">Wed</span></td>
                    <td class="Wborder"><span class="verticalText">Thu</span></td>
                    <td class="Wborder"><span class="verticalText">Fri</span></td>
                    <td class="Wborder"><span class="verticalText">Sat</span></td>
                    <td class="Wborder"><span class="verticalText">Sun</span></td>
                    <td class="Wborder"><span class="verticalText">Mon</span></td>
                    <td class="Wborder"><span class="verticalText">Tue</span></td>
                    <td class="Wborder"><span class="verticalText">Wed</span></td>
                    <td class="Wborder"><span class="verticalText">Thu</span></td>
                    <td class="Wborder"><span class="verticalText">Fri</span></td>
                    <td class="Wborder"><span class="verticalText">Sat</span></td>
                    <td class="Wborder"><span class="verticalText">Sun</span></td>
                    <td class="Wborder" colspan="2" style="white-space:unset !important;font-size:9px">Monthly/Total Less</td>
                    <td class="Wborder" colspan="2" style="white-space:unset !important;font-size:9px">Overall</td>
                    <td class="Wborder" colspan="2" style="white-space:unset !important;font-size:9px">Monthly/Excuse</td>
                </tr>
                <tr class="monthdays">
                    <td class="WborderRightOnly"></td>
                    <td class="Wborder" colspan="1" rowspan="1" height="70" align="left" valign="middle" style="width:250px"><b>Names</b></td>
                    <td class="Wborder"><span class="verticalText">1\Jun</span></td>
                    <td class="Wborder"><span class="verticalText">2\Jun</span></td>
                    <td class="Wborder"><span class="verticalText">3\Jun</span></td>
                    <td class="Wborder"><span class="verticalText">4\Jun</span></td>
                    <td class="Wborder"><span class="verticalText">5\Jun</span></td>
                    <td class="Wborder"><span class="verticalText">6\Jun</span></td>
                    <td class="Wborder"><span class="verticalText">7\Jun</span></td>
                    <td class="Wborder"><span class="verticalText">8\Jun</span></td>
                    <td class="Wborder"><span class="verticalText">9\Jun</span></td>
                    <td class="Wborder"><span class="verticalText">10\Jun</span></td>
                    <td class="Wborder"><span class="verticalText">11\Jun</span></td>
                    <td class="Wborder"><span class="verticalText">12\Jun</span></td>
                    <td class="Wborder"><span class="verticalText">13\Jun</span></td>
                    <td class="Wborder"><span class="verticalText">14\Jun</span></td>
                    <td class="Wborder"><span class="verticalText">15\Jun</span></td>
                    <td class="Wborder"><span class="verticalText">16\Jun</span></td>
                    <td class="Wborder"><span class="verticalText">17\Jun</span></td>
                    <td class="Wborder"><span class="verticalText">18\Jun</span></td>
                    <td class="Wborder"><span class="verticalText">19\Jun</span></td>
                    <td class="Wborder"><span class="verticalText">20\Jun</span></td>
                    <td class="Wborder"><span class="verticalText">21\Jun</span></td>
                    <td class="Wborder"><span class="verticalText">22\Jun</span></td>
                    <td class="Wborder"><span class="verticalText">23\Jun</span></td>
                    <td class="Wborder"><span class="verticalText">24\Jun</span></td>
                    <td class="Wborder"><span class="verticalText">25\Jun</span></td>
                    <td class="Wborder"><span class="verticalText">26\Jun</span></td>
                    <td class="Wborder"><span class="verticalText">27\Jun</span></td>
                    <td class="Wborder"><span class="verticalText">28\Jun</span></td>
                    <td class="Wborder"><span class="verticalText">29\Jun</span></td>
                    <td class="Wborder"><span class="verticalText">30\Jun</span></td>
                    <td class="Wborder"><span class="verticalTextM">LATE</span></td>
                    <td class="Wborder"><span class="verticalTextM">ABSENCES</span></td>
                    <td class="Wborder"><span class="verticalTextM">LATE</span></td>
                    <td class="Wborder"><span class="verticalTextM">ABSENCES</span></td>
                    <td class="Wborder"><span class="verticalTextM">LATE</span></td>
                    <td class="Wborder"><span class="verticalTextM">ABSENCES</span></td>
                </tr>
                <tr class="details-attendance" *ngFor="let studno of studentNo">
                    <td class="Wborder" colspan="1" rowspan="1" align="right" valign="middle"><b>{{studno}}</b></td>
                    <td class="Wborder"><span></span></td>
                    <td class="Wborder"><span>0</span></td>
                    <td class="Wborder"><span>0</span></td>
                    <td class="Wborder"><span>0</span></td>
                    <td class="Wborder"><span>0</span></td>
                    <td class="Wborder"><span>0</span></td>
                    <td class="Wborder"><span>0</span></td>
                    <td class="Wborder"><span>0</span></td>
                    <td class="Wborder"><span>0</span></td>
                    <td class="Wborder"><span>0</span></td>
                    <td class="Wborder"><span>A</span></td>
                    <td class="Wborder"><span>A</span></td>
                    <td class="Wborder"><span>0</span></td>
                    <td class="Wborder"><span>0</span></td>
                    <td class="Wborder"><span>A</span></td>
                    <td class="Wborder"><span>0</span></td>
                    <td class="Wborder"><span>0</span></td>
                    <td class="Wborder"><span>0</span></td>
                    <td class="Wborder"><span>0</span></td>
                    <td class="Wborder"><span>0</span></td>
                    <td class="Wborder"><span>0</span></td>
                    <td class="Wborder"><span>A</span></td>
                    <td class="Wborder"><span>0</span></td>
                    <td class="Wborder"><span>0</span></td>
                    <td class="Wborder"><span>0</span></td>
                    <td class="Wborder"><span>0</span></td>
                    <td class="Wborder"><span>0</span></td>
                    <td class="Wborder"><span>0</span></td>
                    <td class="Wborder"><span>0</span></td>
                    <td class="Wborder"><span>0</span></td>
                    <td class="Wborder"><span>0</span></td>
                    <td class="Wborder"><span>0</span></td>
                    <td class="Wborder"><span>4</span></td>
                    <td class="Wborder"><span>0</span></td>
                    <td class="Wborder"><span>4</span></td>
                    <td class="Wborder"><span>0</span></td>
                    <td class="Wborder"><span>0</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<button (click)="downloadPDF()">Export to pdf</button>