table td{
    font-family: Arial;
    font-size:10px;
}
table .monthdays td.Wborder{
    border: 1px solid #000000;
    text-align:center;
    vertical-align: bottom;
}
table .monthdays td:not(:first-child) span.verticalText {
    writing-mode: tb-rl;
    transform: rotate(-90deg);
    height: 10%;
}
table .weekdays td.Wborder{
    border: 1px solid #000000;
    text-align:center;
    vertical-align: bottom;
}
table .weekdays td:not(:first-child) span.verticalText {
    writing-mode: tb-rl;
    transform: rotate(-90deg);
    height: 10%;
}
table .trheader1 .tdheader1{
    font-size: 12px;
    text-align: center;
}
table .trheader2 .tdheader2{
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}
table .details-attendance td.Wborder{
    border: 1px solid #000000;
    text-align:center;
    white-space:nowrap;
    vertical-align: bottom;
    text-align: center;
}