<div id="content" #content>
     <div class="invoice-box" id ="print-invoice">
        <table cellpadding="0" cellspacing="0">
            <tr class="top">
                <td colspan="2">
                    <table>
                        <tr>
                            <td class="title">
                                <img src="assets/logo.png" style="width:100px; max-width:300px;">
                            </td>
                            
                            <td>
                                Invoice #: 123<br>
                                Created: February 20, 2020<br>
                                Due: February 20, 2020
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            
            <tr class="information">
                <td colspan="2">
                    <table>
                        <tr>
                            <td>
                                DreamIT<br>
                                125 Burgos Guilig St. Brgy. Pogo Chico<br>
                                Dagupan City Pangasinan
                            </td>
                            
                            <td>
                                DreamIT.<br>
                                Kris Claridad<br>
                                test@example.com
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            
            <tr class="heading">
                <td>
                    Payment Method
                </td>
                
                <td>
                    Check #
                </td>
            </tr>
            
            <tr class="details">
                <td>
                    Check
                </td>
                
                <td>
                    1000
                </td>
            </tr>
            
            <tr class="heading">
                <td>
                    Item
                </td>
                
                <td>
                    Price
                </td>
            </tr>
            
            <tr class="item">
                <td>
                    Website design
                </td>
                
                <td>
                    PHP300.00
                </td>
            </tr>
            
            <tr class="item">
                <td>
                    Hosting (3 months)
                </td>
                
                <td>
                    PHP75.00
                </td>
            </tr>
            
            <tr class="item last">
                <td>
                    Domain name (1 year)
                </td>
                
                <td>
                    PHP10.00
                </td>
            </tr>
            
            <tr class="total">
                <td></td>
                
                <td>
                    Total: PHP385.00
                </td>
            </tr>
        </table>
    </div>
</div>
<div id="editor"></div>
<button (click)="downloadPDF()">Export to pdf</button>